<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VUE JS -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
</head>
<body>
    
    <div id="app">
      <header class="header">
        <h1>TO DO LIST</h1>
      </header>

      <main>
        <div class="wrapper">
          <div class="new-todo">
            <p class="error" v-show="error">Errore! Non puoi aggiungere un evento vuoto</p>
            <input type="text" placeholder="Crea un nuovo evento" v-model.trim="newTodo.text"/>
            <button class="add-btn" @click="addTodo">Aggiungi</button>
          </div>

          <ul class="todo-list" v-if="todos.length > 0">
            <li v-for="(todo, index) in todos">
              <p>{{ todo.text }}</p>
              <span class="delete">&cross;</span>
            </li>
          </ul>
        </div>
      </main>
    </div>
    <!-- JS -->
    <script src="js/script.js"></script>
</body>
</html>